<% if !current_user.likeing?(@p) %>
  <%= form_for(current_user.active_likes.build) do |f| %>
    <div><%= hidden_field_tag :post_id, @p.id %></div>
    <%= f.submit "LIKE", class: "btn btn-primary" %>    
  <% end %>
<% else %>
  LIKED
<% end %>
