<h1>#<%= params[:hashtag] %></h1>
<% if @hashtagged %>
  <% for @p in @hashtagged %>
    <%= render "/components/post"%>
  <% end -%>
<% else -%>
  <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
<% end -%>
