<h1> EXPLORE </h1>
<div class="search-section">
<%= render "/components/search_form"%> 
</div>
<h2> posts </h2>

    <%= render "/components/post_form"%>
    <% for @p in @posts %>
      <%= render "/components/post"%>
    <% end %>
