<nav>
<%= link_to('SIGNUP', new_user_registration_path) %>
<span class="footdogs">  / </span>
<%= link_to('LOGIN', new_user_session_path) %>
<span class="footdogs">  / </span>
<a href="/search.html">SEARCH</a>
</nav>
<!-- Begin content -->
