<div class="logodiv">
</div>
<div class="filter">
<nav>
<a href="/">HOME</a>
<span class="footdogs">  / </span>
<%= link_to('SIGNUP', new_user_registration_path) %>
</nav>
</div>
</div>
<!-- Begin content -->
