<div id="header" class="header">
  <div class=logodiv>
    <a href="/">
      <img class="logo" src="/logo.svg" alt="logo">
    </a>
    <div class="filter">
      <% if !user_signed_in? %>
        <%= render '/layouts/nav_guest' %>
      <% else %>
        <%= render '/layouts/nav_user' %>
      <% end %>
    </div>
  </div>
</div>

