<div class="logodiv">
</div>
<div class="filter">
<nav>
<a href="/">HOME</a>
<span class="footdogs">  / </span>
<a href="/explore.html">EXPLORE</a>
<span class="footdogs">  / </span>
<%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
<span class="footdogs">  / </span>
<a href="/user/<%= current_user.username %>">ME</a>
<span class="footdogs">  / </span>
<%= link_to(current_user.username, edit_user_registration_path) %>
</nav>
</div>
</div>
<!-- Begin content -->
